.container-main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container1 {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 75%;
    background-color: #ebe8e8;
    left: 0;
    top: 0;
}

.container2 {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.upper-right {
    height: 100px;
    width: 100%;
    background-color: #f8f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register {
    display: flex;
    flex-direction: row;
}

.register-btn {
    height: 40px;
    width: 120px;
    text-align: center;
    border: none;
    border-bottom-left-radius: 15px;
    background-color: rgb(43, 43, 43);
    color: white;
    margin-right: 1px;
    cursor: pointer;
}

.register-call-btn {
    height: 40px;
    width: 60%;
    text-align: center;
    border: none;
    border-bottom-right-radius: 15px;
    background-color: rgb(43, 43, 43);
    color: white;
    cursor: pointer;
}

.register-call-btn:hover {
    color: rgb(27, 218, 192);
}

.instant-call-btn {
    height: 40px;
    width: 180px;
    text-align: center;
    display: inline-block;
    border: none;
    border-radius: 5px;
    color: white;
    background: linear-gradient(135deg,
            #d60c89,
            #96065f,
            #d60c89);
    background-size: 200% 200%;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    overflow: hidden;
    animation: backgroundShine 3s linear infinite;
}

@keyframes backgroundShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

.contact-us {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    width: 100%;
    height: 100%;
}

.fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.input-field {
    width: 100%;
    height: 40px;
    border: none;
    margin: 5px;
}

.input-field input {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid silver;
    font-size: 16px;
}

.input-field input:focus {
    outline: none;
    border-bottom: #d60c89 1px solid;
    color: gray;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1001;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 60px;
    padding-left: 10px;
    padding-right: 20px;
    width: 100%;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.88);
}

.house {
    height: 70%;
}

.logo {
    height: 50px;
}

.navbar i {
    font-size: 18px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: #96065f;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-images img {
    width: 100%;
    height: 500px;
}

.info-div {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100%;
    width: 98%;
    background-color: #fff;
    margin-bottom: 20px;
}

.table-div {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    align-items: center;
    height: 100%;
    padding: 30px;
    width: 98%;
}

.table-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

.costing-detail {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    padding: 20px;
}

.costing-detail:hover {
    cursor: pointer;
}

.image-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid silver;
}

.costing-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom 0.5s ease-in-out;
}

.image-container:hover .hover-overlay {
    bottom: 0;
}

.enquiry-btn {
    background-color: #96065f;
    border: none;
    padding: 12px 24px;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.image-container:hover .enquiry-btn {
    opacity: 1;
    transform: translateY(0);
}


table tr {
    height: 50px;
}

.master-plan {
    display: flex;
    height: 250px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.floor-plan {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.floor-plan .costing-detail {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 15px);
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.map-div {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin-top: 20px;
}

.map {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.location {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left: 20px;
}

.location-indicator {
    display: flex;
    flex-direction: row;
    width: calc(100% / 3 - 10px);
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

.terms {
    color: rgb(56, 168, 212);
}

.terms:hover {
    cursor: pointer;
    color: rgb(18, 106, 141);
}

#table-btn{
    width: 140px;
}

#costing-detail{
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
}

#img-container{
    height: 250px;
    width: 300px;
}

#scanner{
    width: 30%;
}

@media (max-width: 768px) {
    .navbar {
      flex-wrap: nowrap;
      justify-content: flex-start;
      padding: 5px;
      overflow-x: scroll;
      gap: 5px;
    }
  
    .navbar a span {
      font-size: 10px;
    }
  
    .navbar a i,
    .navbar a svg {
      font-size: 14px !important;
    }
  
    .navbar img.logo {
      display: none;
    }

    .virtual,
    .welcome{
        display: none;
    }

    .register-btn{
        width: 100px;
        font-size: 10px;
    }

    .register-call-btn{
        width: 80px;
        font-size: 10px;
    }

    #table-btn{
        width: 60px;
        font-size: 10px;
    }

    table tr th{
        font-size: 12px;
    }

    table tr td{
        font-size: 10px;
    }

    #costing-detail{
        font-size: 10px;
    }

    .costing-detail{
        width: 35%;
    }

    .floor-plan .costing-detail {
        width: 100%;
        margin: 10px;
    }

    #img-container{
        width: 100%;
    }

    #footer{
        display: flex;
        flex-direction: column;
    }
  }

  @media (max-width:500px){
    .navbar img.logo{
        display: block;
    }

    .map1,
    .gallery,
    .amenities,
    .plan,
    .price{
        display: none;
    }

    .container1{
        width: 100%;
    }

    .container2{
        display: none;
    }

    .table-div{
        display: flex;
        flex-direction: column;
    }

    .table-container{
        width: 100%;
    }

    .costing-detail{
        width: 100%;
    }

    #scanner{
        width: 40%;
    }

    #location-indicator{
        display: flex;
        flex-direction: column;
    }

    .location-indicator{
        width: 100%;
        height: 100%;
    }
  }